version: "3.9"

services:
  front:
    image: ${REGISTRY}/${IMAGE_NAME}-${ENV}:${IMAGE_TAG}
    container_name: ${IMAGE_NAME}-${ENV}
    restart: always
    ports:
      - "${FRONT_PORT}:${FRONT_PORT}"
    env_file:
      - .env.${ENV}
    networks:
      - cbms-net

networks:
  cbms-net:
    external: true
